avm/res/logic/integration-account/tests/e2e/waf-aligned/schema-content.xml

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://schemas.contoso.com/purchaseorder"
           xmlns="http://schemas.contoso.com/purchaseorder"
           elementFormDefault="qualified">
  <xs:element name="PurchaseOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="OrderID" type="xs:string"/>
        <xs:element name="OrderDate" type="xs:date"/>
        <xs:element name="CustomerID" type="xs:string"/>
        <xs:element name="TotalAmount" type="xs:decimal"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
